/* code block style 
copyright: CMS部落——www.eworthcms.com
*/
blockquote { font-family: "Consolas" , "Courier New" ,Courier,mono,serif; font-size: 12px; background-color: #E7E5DC; width: 99%; margin: 0 0 1em 0; padding-top: 1px; }
blockquote ol, blockquote ol li, blockquote ol li span { margin: 0; padding: 0; border: none; }
blockquote a, blockquote a:hover { background: none; border: none; padding: 0; margin: 0; }
blockquote ol { list-style: decimal; background-color: #fff; margin: 0px 0px 1px 45px !important; padding: 0px; color: #5C5C5C; }
blockquote ol li { list-style: decimal-leading-zero; list-style-position: outside !important; border-left: 3px solid #6CE26C; background-color: #F8F8F8; color: #5C5C5C; padding: 0 3px 0 10px !important; margin: 0 !important; line-height: 14px; }
blockquote ol li.alt { background-color: #FFF; color: inherit; }
blockquote ol li span { color: black; background-color: inherit; }
blockquote .comment, blockquote .comments { color: #008200; background-color: inherit; }
blockquote .string { color: blue; background-color: inherit; }
blockquote .keyword { color: #069; font-weight: bold; background-color: inherit; }
blockquote .blockquoteprocessor { color: gray; background-color: inherit; }
blockquote .dp-xml .cdata { color: #ff1493; }
blockquote .dp-xml .tag, blockquote .dp-xml .tag-name { color: #069; font-weight: bold; }
blockquote .dp-xml .attribute { color: red; }
blockquote .dp-xml .attribute-value { color: blue; }
blockquote .dp-sql .func { color: #ff1493; }
blockquote .dp-sql .op { color: #808080; }
blockquote .dp-rb .symbol { color: #a70; }
blockquote .dp-rb .variable { color: #a70; font-weight: bold; }
blockquote .dp-py .builtins { color: #ff1493; }
blockquote .dp-py .magicmethods { color: #808080; }
blockquote .dp-py .exceptions { color: brown; }
blockquote .dp-py .types { color: brown; font-style: italic; }
blockquote .dp-py .commonlibs { color: #8A2BE2; font-style: italic; }
blockquote .dp-j .annotation { color: #646464; }
blockquote .dp-j .number { color: #C00000; }
blockquote .dp-delphi .number { color: blue; }
blockquote .dp-delphi .directive { color: #008284; }
blockquote .dp-delphi .vars { color: #000; }
blockquote .dp-css .value { color: black; }
blockquote .dp-css .important { color: red; }
blockquote .dp-c .vars { color: #d00; }
blockquote .dp-cpp .datatypes { color: #2E8B57; font-weight: bold; }

blockquote .comment{border:none;padding:0}
blockquote ol,
blockquote ol li{list-style:decimal;}